	<ion-header-bar align-title="center" class='home_head themebgcolor' >
	  <a class="margin-top10 margin-left10"><img src="img/prepage.png" alt="" ></a>
      <h3>风控在线</h3>
      <a class="margin-top10" style="width: 30px;"><img src="img/share(1).png" alt="" ></a>
    </ion-header-bar>

    <ion-content>
            <h4  style='margin-top: 10px;margin-left: 5px;'>直播标题标题</h4>
        <div class="row " >
          <div class="videoP margin-left5" style="height: 200px;">
              <img class="play1" style="top: 35%;left: 43%;" src="img/play(1).png" alt="">
              <img class="play1" style="top: 90%;left: 94%;width: 15px;" src="img/fullscreen.png" alt="">
          </div>
        </div>

        <div>
	        <div class="row">
	        	<input class="col-60 margin-left10 " style="width: 300px;background-color: #fbf9f9;border-radius: 5px;" type="text" placeholder="写下你的感受评价吧~">
	        	<a class="col-10 margin-top5 " style="margin-right: 15px;" >评论</a>
	        	<img class="margin-top5" style="width: 20px;height: 20px;margin-right: 5px;" src="img/28taoxin.png" alt="" ng-click='good=0' ng-show='good==1'>
	        	<img class="margin-top5" style="width: 20px;height: 20px;margin-right: 5px;" src="img/good.png" alt="" ng-click='good=1' ng-show='good==0'>

	        </div>
        </div>

        	<ion-item class='item1'>
        		<h2 class="pull-left">讨论区</h2>
            <p class="pull-left margin-left10" style="color: #9a9a9a; font-size: 12px;" >200条</p>
        		<a class="pull-right"><p class="pull-left">展开</p><img class="pull-right" style="width: 15px;margin-top: 5px;margin-left: 5px;" src="img/nextpage.png" alt=""></a>
        	</ion-item>

            <div class="user_comments ">
                <img class="pull-left margin-left10" src="img/R-3.png" alt="">
                <h5 class="pull-left  margin-left10">用户某某</h5>
                <p class="pull-right margin-right10">20170411</p><br>
              <h6>评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论</h6>
            </div>
              <div class="user_comments ">
                <img class="pull-left margin-left10" src="img/R-3.png" alt="">
                <h5 class="pull-left  margin-left10">用户某某</h5>
                <p class="pull-right margin-right10">20170411</p><br>
              <h6>评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论</h6>
            </div>
              <div class="user_comments ">
                <img class="pull-left margin-left10" src="img/R-3.png" alt="">
                <h5 class="pull-left  margin-left10">用户某某</h5>
                <p class="pull-right margin-right10">20170411</p><br>
              <h6>评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论</h6>
            </div>
    </ion-content>