<script id="modal.html" type="text/ng-template">
    <ion-modal-view class="modal" style="background-color: rgba(0,0,0,.5);">
        <div style="width: 300px;margin: 100px auto;border-radius: 10px;padding: 15px;background-color: #fff;text-align: center;">
            <div style="border-bottom: 1px solid silver;padding-bottom: 10px;font-size: 16px;">支付方式</div>

            <div style="border-bottom: 1px solid silver;padding-top:20px;padding-bottom: 20px;font-size: 16px;" ng-click="go()">
                <a href=""><img style="display: inline-block;float:left;margin-left: 20px" src="img/over.png" width="25px" height="25px">
                    <span style="margin-left: -100px;color:black">余额支付</span>
                    <img style="display: inline-block;float:right;" src="img/right.png" width="25px" height="25px">
                </a>
            </div>

            <div style="padding-top:20px;padding-bottom: 20px;font-size: 16px;border-bottom: 1px solid silver;">
                <a href=""><img style="display: inline-block;float:left;margin-left: 20px" src="img/wechat.png" width="25px" height="25px">
                    <span style="margin-left: -100px;color:black" ng-click="wechatPay()">微信支付</span>
                    <img style="display: inline-block;float:right;" src="img/right.png" width="25px" height="25px">
                </a>
            </div>

            <div id="payCoupon" style="padding-top:20px;padding-bottom: 20px;font-size: 16px;border-bottom: 1px solid silver;" ng-click="payCoupon()">
                <a href=""><img style="display: inline-block;float:left;margin-left: 20px" src="img/wechat.png" width="25px" height="25px">
                    <span style="margin-left: -100px;color:black">使用入场券</span>
                    <img style="display: inline-block;float:right;" src="img/right.png" width="25px" height="25px">
                </a>
            </div>
        </div>
    </ion-modal-view>
</script>