
<ion-header-bar align-title="center" class='home_head themebgcolor' >
    <a ng-click="goBack()" class="margin-top10 margin-left10"><img src="img/prepage.png" alt="" ></a>
    <h3>活动报名</h3>
</ion-header-bar>




<ion-content >
    <div>
        <div style="margin-top: 10px;height: 40px;font-size: 18px;border-bottom: 1px solid #DEDEDE;">
            <span style="margin-left: 10px">参与人</span>
            <input style="margin-left: 100px;margin-top: -29px;" type="text" placeholder="填写姓名" width="50px">
        </div>
        <div style="margin-top: 10px;height: 40px;font-size: 18px;border-bottom: 1px solid #DEDEDE;">
            <span style="margin-left: 10px">联系方式</span>
            <input style="margin-left: 100px;margin-top: -29px;" type="text" placeholder="填写手机号码" width="50px">
        </div>
        <div style="margin-top: 10px;height: 40px;font-size: 18px;">
            <span style="margin-left: 10px">公司名称</span>
            <input style="margin-left: 100px;margin-top: -29px;" type="text" placeholder="填写完整公司名称" width="50px">
        </div>
    </div>
</ion-content>
<!--报名 -->
<a href="#/confirm_order">
    <ion-footer-bar class='home_head themebgcolor' style="color:#fff;text-align: center">
        <h3 >提交</h3>
    </ion-footer-bar>
</a>
