
<ion-header-bar align-title="center" class='home_head themebgcolor' >
    <a ng-click="goBack()" class="margin-top10 margin-left10"><img src="img/prepage.png"></a>
    <h3>确认订单</h3>
</ion-header-bar>


<ion-content >
    <div>
        <div style="margin-top: 10px;line-height: 40px;font-size: 18px;border-bottom: 1px solid #DEDEDE;">
            <span style="margin-left: 10px">即将直播</span>
            <input style="margin-left: 100px;margin-top: -29px;" type="text" ng-model="upcomingLivingName">
        </div>
        <div style="margin-top: 10px;line-height: 40px;font-size: 18px;border-bottom: 1px solid #DEDEDE;">
            <span style="margin-left: 10px">参与人</span>
            <input style="margin-left: 100px;margin-top: -29px;" type="text" ng-model="userName">
        </div>
        <div style="margin-top: 10px;line-height: 40px;font-size: 18px;border-bottom: 1px solid #DEDEDE;">
            <span style="margin-left: 10px">联系方式</span>
            <input style="margin-left: 100px;margin-top: -29px;" type="text" ng-model="contactWay">
        </div>
        <div style="margin-top: 10px;line-height: 40px;font-size: 18px;border-bottom: 1px solid #DEDEDE;">
            <span style="margin-left: 10px">公司名称</span>
            <input style="margin-left: 100px;margin-top: -29px;" type="text" ng-model="companyName">
        </div>
        <div style="margin-top: 10px;line-height: 40px;font-size: 15px;">
            <span style="display:inline-block;float: right;margin-right: 10px;">金额:  <b style="color:#bf5b44">{{upcomingLivingPrice}}元</b></span>
        </div>
    </div>
    <!-- <div style="background-color: #fbf9f9;height:50px;">
        <div style="margin-left:5px;padding-top: 10px;">
 -->
            <!--<img src="img/check.png" style="width:20px;height: 20px;">-->
            <!-- <div style="width: 20px; display: inline-block;border: 1px solid #ccc;border-radius: 2px; height: 20px;margin-top: 5px;"><img src="img/checked.png" style="width:20px;height: 20px;display: none;"></div>
            <a href="#/change_coupon">
                <div style="display: inline-block;width: 92%;vertical-align: top;padding-top: 4px;">
                    <span>优惠券抵扣<b>3.00</b>元</span>
                    <img src="img/right.png" style="width: 20px;height: 20px;float: right">
                </div>
            </a>
        </div>
    </div> -->


    <script id="modal.html" type="text/ng-template">
        <div class="modal" style="background-color: rgba(0,0,0,.5);">
            <!-- <ion-header-bar>
                <h1 class="title">我的模型标题</h1>
            </ion-header-bar>
            <ion-content>
                Hello!
            </ion-content> -->
            <div style="width: 300px;margin: 100px auto;border-radius: 10px;padding: 15px;background-color: #fff;text-align: center;">
                <div style="border-bottom: 1px solid silver;padding-bottom: 10px;font-size: 16px;">支付方式</div>

                <div style="border-bottom: 1px solid silver;padding-top:20px;padding-bottom: 20px;font-size: 16px;" ng-click="go()">
                    <a href=""><img style="display: inline-block;float:left;margin-left: 20px" src="img/over.png" width="25px" height="25px">
                    <span style="margin-left: -100px;color:black">余额支付</span>
                    <img style="display: inline-block;float:right;" src="img/right.png" width="25px" height="25px">
                    </a>
                </div>

                <div style="padding-top:20px;padding-bottom: 20px;font-size: 16px;border-bottom: 1px solid silver;">
                    <a href=""><img style="display: inline-block;float:left;margin-left: 20px" src="img/wechat.png" width="25px" height="25px">
                    <span style="margin-left: -100px;color:black">微信支付</span>
                    <img style="display: inline-block;float:right;" src="img/right.png" width="25px" height="25px">
                    </a>
                </div>
                
                <div id="payCoupon" style="padding-top:20px;padding-bottom: 20px;font-size: 16px;border-bottom: 1px solid silver;" ng-click="payCoupon()">
                    <a href=""><img style="display: inline-block;float:left;margin-left: 20px" src="img/wechat.png" width="25px" height="25px">
                    <span style="margin-left: -100px;color:black">使用入场券</span>
                    <img style="display: inline-block;float:right;" src="img/right.png" width="25px" height="25px">
                    </a>
                </div>
            </div>
        </div>
    </script>
</ion-content>
<ion-footer-bar class='home_head themebgcolor' style="color:#fff;text-align: center" ng-click="pay1()">
    <h3>立即支付</h3>
</ion-footer-bar>

