<div class="headerIndex" ng-controller="HeaderCtrl" header-common>
	<div class="box clearfix">
		<div class="logoImage pull-left">
			<a href="personalCenter.html"><img src="images/logo.png" alt="logo"></a>
			<span class="logoTitle">风控在线</span>
		</div>
		<ul class="pull-left clearfix navList">
			<li class="pull-left"><a class="active" href="index.html">首页</a></li>
			<li class="pull-left"><a href="recorded.html">课程录播</a></li>
			<li class="pull-left"><a href="living.html">课程直播</a></li>
			<li class="pull-left"><a href="activity.html">活动 <img src="images/down.png" style="vertical-align: 3px;"></a></li>
		</ul>
		<div class="pull-left search">
			<input class="search_box" type="text"><span class="search_btn"><a href="search.html">搜索</a></span>
		</div>
		<ul class="pull-right clearfix login_group">
			<li class="register pull-left"><img src="images/register.png" alt="注册"><div>注册</div></li>
			<li class="login pull-left"><img src="images/register.png" alt="登陆"><div>登陆</div></li>
		</ul>
	</div>
</div>