<div id="loginRegister">
	<div class="close"><img src="images/close.png" alt=""></div>
	<ul class="title clearfix">
		<li class="pull-left active">注册</li>
		<li class="pull-left">登陆</li>
	</ul>
	
	<div class="tab">
		<div class="register">
			<div class="logo">
				<img src="images/logo.png" alt="">
			</div>
			<div style="text-align: center;">
				<input class="register_input" type="text" placeholder="输入注册手机号码">
			</div>
			<div class="auth_code">
				<div class="pull-left">
					<input class="auth_code_input" type="text" placeholder="输入短信验证码">
				</div>
				<div class="pull-right auth_code_num"></div>
			</div>
			<div style="text-align: center;">
				<input class="register_input" type="text" placeholder="输入账户密码">
			</div>
			<div class="submit">注册</div>
		</div>

		<div class="login">
			<div class="logo">
				<img src="images/logo.png" alt="">
			</div>
			<div style="text-align: center;">
				<input class="register_input" type="text" placeholder="输入登陆手机号码">
			</div>
			<div style="text-align: center;margin-top: 24px;">
				<input class="register_input" type="text" placeholder="输入账户密码">
			</div>
			<div style="width: 320px;margin: 0 auto;margin-top: 10px;font-size: 14px;">
				<div class="pull-left">
					<input type="checkbox" id="auto_login" style="width: 16px;height: 16px;vertical-align: -3px;">
					<label for="auto_login">下次自动登陆</label>
				</div>
				<div class="pull-right">忘记密码?</div>
			</div>
			<div class="submit">登陆</div>
			<div class="other_login">
				<div>其他登陆方法</div>
				<div style="text-align: center;margin-top: 10px;">
					<img src="images/wx.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
<div id="mask"></div>