
<ion-header-bar align-title="center" class='home_head themebgcolor' >
    <a ng-click="goBack()" class="margin-top10 margin-left10"><img src="img/prepage.png" alt="" ></a>
    <h3>修改密码</h3>
    <a class="margin-top10"><img src="img/search.png" alt="" ></a>
</ion-header-bar>

<ion-content >
    <div>
        <div style="margin-top: 30px;height: 40px;font-size: 18px;border-bottom: 1px solid #DEDEDE;">
            <span style="margin-left: 10px">绑定手机</span>
            <input style="margin-left: 90px;margin-top: -29px;" type="text"  width="50px"  type="tel" name="mobile" ng-model="registerData.mobile" placeholder="请输入手机号" >
        </div>
        <div style="margin-top: 10px;height: 40px;font-size: 18px;border-bottom: 1px solid #DEDEDE;">
            <span style="margin-left: 10px">验证码</span>
            <input  type="text" name="vcode" ng-model="registerData.authcode" placeholder="请输入验证码"  style="margin-left: 90px;margin-top: -29px;" type="text"  width="50px">
        </div>
        <!-- <div style="margin-top: 10px;height: 40px;font-size: 18px;border-bottom: 1px solid #DEDEDE;">
            <span style="margin-left: 10px">图形验证码</span>
            <input style="margin-left: 100px;margin-top: -29px;" type="text"  width="50px">
        </div> -->
        <input id="codeBtn" type="button" style="display:block;position: absolute;top: 0px;right: 10px;z-index:100; width:70px;border:solid 1px #ef473a;border-radius:3px;background-color:#fd4b61; height:30px;line-height:30px;text-align:center;color:#fff;font-size:12px;" ng-click="getCode()" ng-disabled="btnEnable" value="获取验证码" ng-if="getCode1">
            <input id="codeBtn" type="button" style="display:block;position: absolute;top: 0px;right: 10px;z-index:100; width:70px;border:solid 1px #ef473a;border-radius:3px;background-color:#fd4b61; height:30px;line-height:30px;text-align:center;color:#fff;font-size:12px;"  ng-disabled="btnEnable" value="{{timer}}s" ng-if="!getCode1">
    </div>
</ion-content>
<a ng-click="submit()">
    <ion-footer-bar class='home_head themebgcolor'>
        <h3>确定</h3>
    </ion-footer-bar>
</a>
