<ion-header-bar  align-title="center" class='home_head themebgcolor' >
    <a ng-click="goBack()" class="margin-top10 margin-left10"><img src="img/prepage.png"></a>
    <h3>我的优惠券</h3>
    <a class="margin-top10 coupon" ng-click="showPopup()">兑换</a>
</ion-header-bar>
<ion-content>
   <div class="row" style="margin-top: 10px;width: 100%;" ng-repeat="coupon in couponList">
       <div class="col-100" style="position: relative;">
           <img src="img/coupon-background.png" style="width: 100%;height:100px;">
           <div style="position: absolute;top:33px;left:18px;">
               <span style="font-size: 40px;color:#c75234;"></span><b style="color:#c75234;font-size: 2.2rem;">入场券</b>
           </div>
           <div style="margin-left:20px;position: absolute;top:10px;right: 6px;">
               <!--<span style="color:#c75234;">{{coupon.money}}免费入场券-会员专享</span><br>-->
               <span style="color:#c75234;">{{coupon.couponName}}</span><br>
               <!--<span style="color:silver;font-size:10px;">1. 会员专享入场券</span><br>-->
               <span style="color:silver;font-size:10px;">1. {{coupon.couponDescription}}</span><br>
               <span style="color:silver;font-size:10px;">2. 有效期：{{coupon.couponStartTime | date:'yyyy MM dd'}}-{{coupon.couponEndTime | date:'yyyy MM dd'}}</span><br>
               <span style="color:silver;font-size:10px;">3. 券码：{{coupon.couponNumber}}</span><br>
           </div>
       </div>
   </div>
</ion-content>