<!--余额页面-->
<ion-content>
    <div style="background-color: #d8573f;">
        <div class="row home_head themebgcolor_over" style="margin-left: 1px;">
            <a ng-click="goBack()" class="margin-top10" style="margin-left:20px;"><img src="img/prepage.png" alt="" ></a>
            <h3>我的余额</h3>

        </div>
        <div class="container" style="background-color: #c95f48;">
            <div class="row margin-top10" style="color:white;">
                <div class="col-20">
                    <span>账户余额</span>
                </div>
                <div class="col-60" style="text-align: center;margin-top: 15%;margin-bottom: 10%;">
                    <span style="font-size: 40px;">800.88</span>
                    <div class="progress_all_search_video_list_line" style="width: 100%;margin-left: 3px;"></div>
                    <div>
                        <a href="#/rechange_record" style="color:white;">
                            <span class="myself_over_btn">充值记录</span>
                        </a>
                    </div>
                </div>
                <div class="col-20">

                </div>

            </div>
        </div>

    </div>
    <a href="#/rechange">
        <button style="margin-top: 200px;background-color: #c95f48;" class="button button-full  button-assertive">
            充值
        </button>
    </a>

</ion-content>