<ion-header-bar align-title="center" class='home_head themebgcolor' >
    <a ng-click="goBack()" class="margin-top10 margin-left10"><img src="img/prepage.png" alt="" ></a>
    <h3>充值记录</h3>

</ion-header-bar>
<ion-content>
    <div>
        <div class="row" style="margin-top:10px;margin-left: 10px;font-size: 17px;">
            <div class="col-75" >
                <span>充值成功</span>
            </div>
            <div class="col-25" style="color:#c95f48">
                <span>+1400</span>元
            </div>
        </div>
        <div class="row" style="margin-bottom:5px;margin-left: 10px;font-size: 15px;">
            <div class="col-75" style="color:silver">
                <span>20170304</span>
            </div>
            <div class="col-25" style="color: #80c15e;">
                <span>微信支付</span>
            </div>
        </div>
        <div style="background-color: silver;height: 1px;">
        </div>
    </div>
    <div>
        <div class="row" style="margin-top:10px;margin-left: 10px;font-size: 17px;">
            <div class="col-75" >
                <span>充值成功</span>
            </div>
            <div class="col-25" style="color:#c95f48">
                <span>+1400</span>元
            </div>
        </div>
        <div class="row" style="margin-bottom:5px;margin-left: 10px;font-size: 15px;">
            <div class="col-75" style="color:silver">
                <span>20170304</span>
            </div>
            <div class="col-25" style="color: #80c15e;">
                <span>微信支付</span>
            </div>
        </div>
        <div style="background-color: silver;height: 1px;">
        </div>
    </div>
</ion-content>
