
<ion-header-bar align-title="center" class='home_head themebgcolor' >
   
    <h3 style="display: inline-block;padding-left: 35px;">风控在线</h3>
    <a class="margin-top10"><img src="img/search.png" alt="" ></a>
</ion-header-bar>





<ion-content class="has-tabs">
    <div class="tabs-striped tabs-top tabs-color-default " style="margin-top: -44px">
        <div class="tabs" style="text-align: center">
            <a class="tab-change tab-item active1" href="" >
                全部
            </a>
            <a class="tab-change tab-item" href="" >
                特训营
            </a>
            <a class="tab-change tab-item" href="" >
                公开课
            </a>
            <a class="tab-change tab-item" href="" >
                线上沙龙
            </a>
        </div>
    </div>

    <div id="active_content" style="position: absolute;top:100px;">
        <!--全部start-->
        <div id="all" class="container">
            <!--推荐活动-->
            <div class="row" style="margin-left: 0px;font-size: 18px;">
                推荐活动
            </div>
            <div>
                <div  style="margin-left: -1%;">
                    <a href="#/active_details">
                        <img src="img/1.png" width="100%" style="display:block;" height="27%">
                    </a>
                </div>
                <div class="row" style="margin-left: -1%;">
                    <div class="col-60">
                        <span>活动活动互动</span>
                    </div>
                    <div class="col-40" style="text-align: right;">
                        <span><b>123456</b>报名</span>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px;color:silver">
                    <div class="col-60" >
                        <img src="img/address.png" width="15px" height="15px">
                        <span>上海市浦东新区</span>
                    </div>
                    <div class="col-40" style="text-align: right;">
                        <span>2017-03-05</span>
                    </div>


                </div>
            </div>
            <!--end-->
            <!--近期活动-->
            <div class="row" style="margin-left: 0px;font-size: 18px;">
                近期活动
            </div>
            <div class="row" style="margin-left: 0px;">
                <div class="col-50">
                    <div style="position: relative;margin-left: 0px">
                        <a href="#/active_details">
                            <img src="img/1.png" style="width:90%;height: 15%;">
                        </a>
                        <span style="background-color: #c8705b;position: absolute;top:-1px;left: 1px;width: 50%;text-align: center;">即将开始</span>

                    </div>
                    <div >
                        <span style="font-size: 16px;">名称名称名称名称名称名称</span><br>
                        <span style="font-size: 11px;">地点:上海市浦东新浦东新区</span><br>
                        <span style="font-size: 11px;">价格：<span style="color:red;">12元</span></span><br>
                        <div style="display:inline-block;font-size: 12px;color:silver">
                            <span>
                                120人报名
                            </span>
                            <span style="margin-left: 10px">
                                2017-12-12
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-50" style="float: right;">
                    <div style="position: relative;">
                        <a href="#/active_details">
                            <img src="img/1.png" style="width:90%;height: 15%;">
                        </a>
                        <span style="background-color: #2f2f2f;position: absolute;color:white;top:-1px;left: 1px;width: 50%;text-align: center;">已结束</span>
                    </div>
                    <div >
                        <span style="font-size: 16px;">名称名称名称名称名称名称</span><br>
                        <span style="font-size: 11px;">地点:上海市浦东新浦东新区</span><br>
                        <span style="font-size: 11px;">价格：<span style="color:red;">12元</span></span><br>
                        <div style="display:inline-block;font-size: 12px;color:silver">
                        <span>
                            120人报名
                        </span>
                            <span style="margin-left: 10px">
                            2017-12-12
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--end-->
        </div>
        <!--end-->
        <!--特训营start-->
        <div id="camp" class="container" style="display: none">
            <!--推荐活动-->
            <div class="row" style="margin-left: 0px;font-size: 18px;">
                推荐活动2
            </div>
            <div>
                <div style="margin-left: -1%;">
                    <a href="#/active_details">
                        <img src="img/1.png" width="98%" height="27%">
                    </a>
                </div>
                <div class="row" style="margin-left: -1%;">
                    <div class="col-60">
                        <span>活动活动互动</span>
                    </div>
                    <div class="col-40" style="text-align: right;">
                        <span><b>123</b>报名</span>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px;color:silver">
                    <div class="col-60" >
                        <img src="img/address.png" width="15px" height="15px">
                        <span>上海市浦东新区</span>
                    </div>
                    <div class="col-40" style="text-align: right;">
                        <span>2017-03-05</span>
                    </div>


                </div>
            </div>
            <!--end-->
            <!--近期活动-->
            <div class="row" style="margin-left: 0px;font-size: 18px;">
                近期活动
            </div>
            <div class="row" style="margin-left: 0px;">
                <div class="col-50">
                    <div style="position: relative;margin-left: 0px">
                        <a href="#/active_details">
                            <img src="img/1.png" style="width:90%;height: 15%;">
                        </a>
                        <span style="background-color: #c8705b;position: absolute;top:-1px;left: 1px;width: 50%;text-align: center;">即将开始</span>

                    </div>
                    <div >
                        <span style="font-size: 16px;">名称名称名称名称名称名称</span><br>
                        <span style="font-size: 11px;">地点:上海市浦东新浦东新区</span><br>
                        <span style="font-size: 11px;">价格：<span style="color:red;">12元</span></span><br>
                        <div style="display:inline-block;font-size: 12px;color:silver">
                            <span>
                                120人报名
                            </span>
                            <span style="margin-left: 10px">
                                2017-12-12
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-50" style="float: right;">
                    <div style="position: relative;">
                        <a href="#/active_details">
                            <img src="img/1.png" style="width:90%;height: 15%;">
                        </a>
                        <span style="background-color: #2f2f2f;position: absolute;color:white;top:-1px;left: 1px;width: 50%;text-align: center;">已结束</span>
                    </div>
                    <div >
                        <span style="font-size: 16px;">名称名称名称名称名称名称</span><br>
                        <span style="font-size: 11px;">地点:上海市浦东新浦东新区</span><br>
                        <span style="font-size: 11px;">价格：<span style="color:red;">12元</span></span><br>
                        <div style="display:inline-block;font-size: 12px;color:silver">
                        <span>
                            120人报名
                        </span>
                            <span style="margin-left: 10px">
                            2017-12-12
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--end-->
        </div>
        <!--end-->
        <!--公开课start-->
        <div id="public" class="container" style="display: none">
            <!--推荐活动-->
            <div class="row" style="margin-left: 0px;font-size: 18px;">
                推荐活动
            </div>
            <div>
                <div style="margin-left: -1%;">
                    <a href="#/active_details">
                        <img src="img/1.png" width="98%" height="27%">
                    </a>
                </div>
                <div class="row" style="margin-left: -1%;">
                    <div class="col-60">
                        <span>活动活动互动</span>
                    </div>
                    <div class="col-40" style="text-align: right;">
                        <span><b>123</b>报名</span>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px;color:silver">
                    <div class="col-60" >
                        <img src="img/address.png" width="15px" height="15px">
                        <span>上海市浦东新区</span>
                    </div>
                    <div class="col-40" style="text-align: right;">
                        <span>2017-03-05</span>
                    </div>


                </div>
            </div>
            <!--end-->
            <!--近期活动-->
            <div class="row" style="margin-left: 0px;font-size: 18px;">
                近期活动
            </div>
            <div class="row" style="margin-left: 0px;">
                <div class="col-50">
                    <div style="position: relative;margin-left: 0px">
                        <a href="#/active_details">
                            <img src="img/1.png" style="width:90%;height: 15%;">
                        </a>
                        <span style="background-color: #c8705b;position: absolute;top:-1px;left: 1px;width: 50%;text-align: center;">即将开始</span>

                    </div>
                    <div >
                        <span style="font-size: 16px;">名称名称名称名称名称名称</span><br>
                        <span style="font-size: 11px;">地点:上海市浦东新浦东新区</span><br>
                        <span style="font-size: 11px;">价格：<span style="color:red;">12元</span></span><br>
                        <div style="display:inline-block;font-size: 12px;color:silver">
                            <span>
                                120人报名
                            </span>
                            <span style="margin-left: 10px">
                                2017-12-12
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-50" style="float: right;">
                    <div style="position: relative;">
                        <a href="#/active_details">
                            <img src="img/1.png" style="width:90%;height: 15%;">
                        </a>
                        <span style="background-color: #2f2f2f;position: absolute;color:white;top:-1px;left: 1px;width: 50%;text-align: center;">已结束</span>
                    </div>
                    <div >
                        <span style="font-size: 16px;">名称名称名称名称名称名称</span><br>
                        <span style="font-size: 11px;">地点:上海市浦东新浦东新区</span><br>
                        <span style="font-size: 11px;">价格：<span style="color:red;">12元</span></span><br>
                        <div style="display:inline-block;font-size: 12px;color:silver">
                        <span>
                            120人报名
                        </span>
                            <span style="margin-left: 10px">
                            2017-12-12
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--end-->
        </div>
        <!--end-->
        <!--线上沙龙start-->
        <div id="salon" class="container" style="display: none">
            <!--推荐活动-->
            <div class="row" style="margin-left: 0px;font-size: 18px;">
                推荐活动
            </div>
            <div>
                <div  style="margin-left: -1%;">
                    <a href="#/active_details">
                        <img src="img/1.png" width="98%" height="27%">
                    </a>
                </div>
                <div class="row" style="margin-left: -1%;">
                    <div class="col-60">
                        <span>活动活动互动</span>
                    </div>
                    <div class="col-40" style="text-align: right;">
                        <span><b>123</b>报名</span>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px;color:silver">
                    <div class="col-60" >
                        <img src="img/address.png" width="15px" height="15px">
                        <span>上海市浦东新区</span>
                    </div>
                    <div class="col-40" style="text-align: right;">
                        <span>2017-03-05</span>
                    </div>


                </div>
            </div>
            <!--end-->
            <!--近期活动-->
            <div class="row" style="margin-left: 0px;font-size: 18px;">
                近期活动
            </div>
            <div class="row" style="margin-left: 0px;">
                <div class="col-50">
                    <div style="position: relative;margin-left: 0px">
                        <a href="#/active_details">
                            <img src="img/1.png" style="width:90%;height: 15%;">
                        </a>
                        <span style="background-color: #c8705b;position: absolute;top:-1px;left: 1px;width: 50%;text-align: center;">即将开始</span>

                    </div>
                    <div >
                        <span style="font-size: 16px;">名称名称名称名称名称名称</span><br>
                        <span style="font-size: 11px;">地点:上海市浦东新浦东新区</span><br>
                        <span style="font-size: 11px;">价格：<span style="color:red;">12元</span></span><br>
                        <div style="display:inline-block;font-size: 12px;color:silver">
                            <span>
                                120人报名
                            </span>
                            <span style="margin-left: 10px">
                                2017-12-12
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-50" style="float: right;">
                    <div style="position: relative;">
                        <a href="#/active_details">
                            <img src="img/1.png" style="width:90%;height: 15%;">
                        </a>
                        <span style="background-color: #2f2f2f;position: absolute;color:white;top:-1px;left: 1px;width: 50%;text-align: center;">已结束</span>
                    </div>
                    <div >
                        <span style="font-size: 16px;">名称名称名称名称名称名称</span><br>
                        <span style="font-size: 11px;">地点:上海市浦东新浦东新区</span><br>
                        <span style="font-size: 11px;">价格：<span style="color:red;">12元</span></span><br>
                        <div style="display:inline-block;font-size: 12px;color:silver">
                        <span>
                            120人报名
                        </span>
                            <span style="margin-left: 10px">
                            2017-12-12
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--end-->
        </div>
        <!--end-->
    </div>




</ion-content>