<ion-header-bar align-title="center" class="home_head themebgcolor">
    <a><img class="logoR" src="img/R-3.png" style="width: 70%"></a>
    <a href="#/tab/home_search" style="width: 90%;">
        <label class="item-input-wrapper home_search " >
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="请输入搜索内容" class="home_inputS">
        </label>
    </a>
    <a><img src="img/comment.png" class="comment"></a>
</ion-header-bar>

<ion-content>
    <div class="home_banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="gil in bannerList">
                    <img ng-src="{{gil.imageUrl}}">
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
        </div>
    </div>

    <div class="container">
        <div class=" row ">
            <div class="col">
                <div class="tab_circle a1" ng-click="setType(1)">
                    <span>内</span>
                </div>
            </div>
            <div class="col">
                <div class="tab_circle" ng-click="setType(2)">
                    <span>审</span>
                </div>
            </div>
            <div class="col">
                <div class="tab_circle" ng-click="setType(3)">
                    <span>财</span>
                </div>
            </div>
            <div class="col">
                <div class="tab_circle" ng-click="setType(4)">
                    <span>税</span>
                </div>
            </div>
            <div class="col">
                <div class="tab_circle" ng-click="setType(5)">
                    <span>风</span>
                </div>
            </div>
        </div>
    </div>
    
    <div style="background: #fbfafa;width: 200%;height: 10px;"></div>

    <div class="container" ng-if='type==1'>
        <div>
            <!--近期直播-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">近期直播</div>
                <div class="col-33 col-offset-33 "><a class="home_more" ui-sref="tabs.progress">更多<img src="img/right.png" style="width:20px;height: 20px;"></a></div>
            </div>
            <div class="row margin-top10 margin_left_-5">
                <span ng-if="liveList.length == 0">暂无直播</span>

                <div class="col-50" style="position: relative;" ng-repeat="live in liveList">
                    <a ng-click="isPayStatusLive(2,0,live.liveId,0,0,live.liveStatus,live.livePrice)">
                        <img src="img/play-icon.png" class="home_play" ng-if="live.liveStatus != 0">
                        <img src="{{live.videoImage}}" width="100%" height="20%;">
                    </a>
                    <div class="myself_active_start" ng-if="live.liveStatus == 0">即将直播</div>
                    <div class="myself_active_start" ng-if="live.liveStatus == 1">正在直播</div>
                    <div class="myself_active_start" ng-if="live.liveStatus == 2">已结束</div>
                </div>
            </div>

            <!--线下培训-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">线下培训</div>
                <div class="col-33 col-offset-33 "><span class="home_more"><a ui-sref="tabs.active">更多</a><img src="img/right.png" style="width:20px;height: 20px;"></span></div>
            </div>
            <div class="row margin-top10" style="margin-left: -5px;">
                <span ng-if="activityList.length == 0">暂无线下培训</span>

                <div class="col-50" style="position: relative;" ng-repeat="activity in activityList">
                    <a ng-click="isPayStatusActivity(4,0,0,0,activity.activityId)">
                        <img src="{{activity.activityIcon}}" width="100%" height="20%;">
                    </a>

                    <span class="myself_active_start progress_font10" ng-if="activity.activityStatus == 1">报名中</span>
                    <span class="myself_active_start progress_font10" style="background-color: #2f2f2f" ng-if="activity.activityStatus == 3">已结束</span>
                </div>
            </div>

            <!--推荐课程-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">推荐课程</div>
                <div class="col-33 col-offset-33 "><span class="home_more" ng-click="homeCourseMore()">更多<img src="img/right.png" style="width:20px;height: 20px;"></span></div>
            </div>
            <div class="row margin-top10 margin_left_-5">
                <span ng-if="courseList.length == 0">暂无推荐课程</span>

                <div class="col-50" style="position: relative;" ng-repeat="course in courseList">
                    <a ng-click="isPayStatusCourse(3,0,0,course.courseId,0)">
                        <img src="{{course.imageUrl}}" width="100%" height="20%;">
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="container" ng-if='type==2'>
        <div>
            <!--近期直播-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">近期直播</div>
                <div class="col-33 col-offset-33 "><a class="home_more" ui-sref="tabs.progress">更多<img src="img/right.png" style="width:20px;height: 20px;"></a></div>
            </div>
            <div class="row margin-top10 margin_left_-5">
                <span ng-if="liveList.length == 0">暂无直播</span>

                <div class="col-50" style="position: relative;" ng-repeat="live in liveList">
                    <a ng-click="isPayStatusLive(2,0,live.liveId,0,0,live.liveStatus,live.livePrice)">
                        <img src="img/play-icon.png" class="home_play" ng-if="live.liveStatus != 0">
                        <img src="{{live.videoImage}}" width="100%" height="20%;">
                    </a>
                    <div class="myself_active_start" ng-if="live.liveStatus == 0">即将直播</div>
                    <div class="myself_active_start" ng-if="live.liveStatus == 1">正在直播</div>
                    <div class="myself_active_start" ng-if="live.liveStatus == 2">已结束</div>
                </div>
            </div>

            <!--线下培训-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">线下培训</div>
                <div class="col-33 col-offset-33 "><span class="home_more"><a ui-sref="tabs.active">更多</a><img src="img/right.png" style="width:20px;height: 20px;"></span></div>
            </div>
            <div class="row margin-top10" style="margin-left: -5px;">
                <span ng-if="activityList.length == 0">暂无线下培训</span>

                <div class="col-50" style="position: relative;" ng-repeat="activity in activityList">
                    <a ng-click="isPayStatusActivity(4,0,0,0,activity.activityId)">
                        <img src="{{activity.activityIcon}}" width="100%" height="20%;">
                    </a>

                    <span class="myself_active_start progress_font10" ng-if="activity.activityStatus == 1">报名中</span>
                    <span class="myself_active_start progress_font10" style="background-color: #2f2f2f" ng-if="activity.activityStatus == 3">已结束</span>
                </div>
            </div>

            <!--推荐课程-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">推荐课程</div>
                <div class="col-33 col-offset-33 "><span class="home_more" ng-click="homeCourseMore()">更多<img src="img/right.png" style="width:20px;height: 20px;"></span></div>
            </div>
            <div class="row margin-top10 margin_left_-5">
                <span ng-if="courseList.length == 0">暂无推荐课程</span>

                <div class="col-50" style="position: relative;" ng-repeat="course in courseList">
                    <a ng-click="isPayStatusCourse(3,0,0,course.courseId,0)">
                        <img src="{{course.imageUrl}}" width="100%" height="20%;">
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="container" ng-if='type==3'>
        <div>
            <!--近期直播-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">近期直播</div>
                <div class="col-33 col-offset-33 "><a class="home_more" ui-sref="tabs.progress">更多<img src="img/right.png" style="width:20px;height: 20px;"></a></div>
            </div>
            <div class="row margin-top10 margin_left_-5">
                <span ng-if="liveList.length == 0">暂无直播</span>

                <div class="col-50" style="position: relative;" ng-repeat="live in liveList">
                    <a ng-click="isPayStatusLive(2,0,live.liveId,0,0,live.liveStatus,live.livePrice)">
                        <img src="img/play-icon.png" class="home_play" ng-if="live.liveStatus != 0">
                        <img src="{{live.videoImage}}" width="100%" height="20%;">
                    </a>
                    <div class="myself_active_start" ng-if="live.liveStatus == 0">即将直播</div>
                    <div class="myself_active_start" ng-if="live.liveStatus == 1">正在直播</div>
                    <div class="myself_active_start" ng-if="live.liveStatus == 2">已结束</div>
                </div>
            </div>

            <!--线下培训-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">线下培训</div>
                <div class="col-33 col-offset-33 "><span class="home_more"><a ui-sref="tabs.active">更多</a><img src="img/right.png" style="width:20px;height: 20px;"></span></div>
            </div>
            <div class="row margin-top10" style="margin-left: -5px;">
                <span ng-if="activityList.length == 0">暂无线下培训</span>

                <div class="col-50" style="position: relative;" ng-repeat="activity in activityList">
                    <a ng-click="isPayStatusActivity(4,0,0,0,activity.activityId)">
                        <img src="{{activity.activityIcon}}" width="100%" height="20%;">
                    </a>

                    <span class="myself_active_start progress_font10" ng-if="activity.activityStatus == 1">报名中</span>
                    <span class="myself_active_start progress_font10" style="background-color: #2f2f2f" ng-if="activity.activityStatus == 3">已结束</span>
                </div>
            </div>

            <!--推荐课程-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">推荐课程</div>
                <div class="col-33 col-offset-33 "><span class="home_more" ng-click="homeCourseMore()">更多<img src="img/right.png" style="width:20px;height: 20px;"></span></div>
            </div>
            <div class="row margin-top10 margin_left_-5">
                <span ng-if="courseList.length == 0">暂无推荐课程</span>

                <div class="col-50" style="position: relative;" ng-repeat="course in courseList">
                    <a ng-click="isPayStatusCourse(3,0,0,course.courseId,0)">
                        <img src="{{course.imageUrl}}" width="100%" height="20%;">
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="container" ng-if='type==4'>
        <div>
            <!--近期直播-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">近期直播</div>
                <div class="col-33 col-offset-33 "><a class="home_more" ui-sref="tabs.progress">更多<img src="img/right.png" style="width:20px;height: 20px;"></a></div>
            </div>
            <div class="row margin-top10 margin_left_-5">
                <span ng-if="liveList.length == 0">暂无直播</span>

                <div class="col-50" style="position: relative;" ng-repeat="live in liveList">
                    <a ng-click="isPayStatusLive(2,0,live.liveId,0,0,live.liveStatus,live.livePrice)">
                        <img src="img/play-icon.png" class="home_play" ng-if="live.liveStatus != 0">
                        <img src="{{live.videoImage}}" width="100%" height="20%;">
                    </a>
                    <div class="myself_active_start" ng-if="live.liveStatus == 0">即将直播</div>
                    <div class="myself_active_start" ng-if="live.liveStatus == 1">正在直播</div>
                    <div class="myself_active_start" ng-if="live.liveStatus == 2">已结束</div>
                </div>
            </div>

            <!--线下培训-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">线下培训</div>
                <div class="col-33 col-offset-33 "><span class="home_more"><a ui-sref="tabs.active">更多</a><img src="img/right.png" style="width:20px;height: 20px;"></span></div>
            </div>
            <div class="row margin-top10" style="margin-left: -5px;">
                <span ng-if="activityList.length == 0">暂无线下培训</span>

                <div class="col-50" style="position: relative;" ng-repeat="activity in activityList">
                    <a ng-click="isPayStatusActivity(4,0,0,0,activity.activityId)">
                        <img src="{{activity.activityIcon}}" width="100%" height="20%;">
                    </a>

                    <span class="myself_active_start progress_font10" ng-if="activity.activityStatus == 1">报名中</span>
                    <span class="myself_active_start progress_font10" style="background-color: #2f2f2f" ng-if="activity.activityStatus == 3">已结束</span>
                </div>
            </div>

            <!--推荐课程-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">推荐课程</div>
                <div class="col-33 col-offset-33 "><span class="home_more" ng-click="homeCourseMore()">更多<img src="img/right.png" style="width:20px;height: 20px;"></span></div>
            </div>
            <div class="row margin-top10 margin_left_-5">
                <span ng-if="courseList.length == 0">暂无推荐课程</span>

                <div class="col-50" style="position: relative;" ng-repeat="course in courseList">
                    <a ng-click="isPayStatusCourse(3,0,0,course.courseId,0)">
                        <img src="{{course.imageUrl}}" width="100%" height="20%;">
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="container" ng-if='type==5'>
        <div>
            <!--近期直播-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">近期直播</div>
                <div class="col-33 col-offset-33 "><a class="home_more" ui-sref="tabs.progress">更多<img src="img/right.png" style="width:20px;height: 20px;"></a></div>
            </div>
            <div class="row margin-top10 margin_left_-5">
                <span ng-if="liveList.length == 0">暂无直播</span>

                <div class="col-50" style="position: relative;" ng-repeat="live in liveList">
                    <a ng-click="isPayStatusLive(2,0,live.liveId,0,0,live.liveStatus,live.livePrice)">
                        <img src="img/play-icon.png" class="home_play" ng-if="live.liveStatus != 0">
                        <img src="{{live.videoImage}}" width="100%" height="20%;">
                    </a>
                    <div class="myself_active_start" ng-if="live.liveStatus == 0">即将直播</div>
                    <div class="myself_active_start" ng-if="live.liveStatus == 1">正在直播</div>
                    <div class="myself_active_start" ng-if="live.liveStatus == 2">已结束</div>
                </div>
            </div>

            <!--线下培训-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">线下培训</div>
                <div class="col-33 col-offset-33 "><span class="home_more"><a ui-sref="tabs.active">更多</a><img src="img/right.png" style="width:20px;height: 20px;"></span></div>
            </div>
            <div class="row margin-top10" style="margin-left: -5px;">
                <span ng-if="activityList.length == 0">暂无线下培训</span>

                <div class="col-50" style="position: relative;" ng-repeat="activity in activityList">
                    <a ng-click="isPayStatusActivity(4,0,0,0,activity.activityId)">
                        <img src="{{activity.activityIcon}}" width="100%" height="20%;">
                    </a>

                    <span class="myself_active_start progress_font10" ng-if="activity.activityStatus == 1">报名中</span>
                    <span class="myself_active_start progress_font10" style="background-color: #2f2f2f" ng-if="activity.activityStatus == 3">已结束</span>
                </div>
            </div>

            <!--推荐课程-->
            <div class="row margin-top10">
                <div class="col-33 margin-left10"><img src="img/2.png" class="direct-seeding">推荐课程</div>
                <div class="col-33 col-offset-33 "><span class="home_more" ng-click="homeCourseMore()">更多<img src="img/right.png" style="width:20px;height: 20px;"></span></div>
            </div>
            <div class="row margin-top10 margin_left_-5">
                <span ng-if="courseList.length == 0">暂无推荐课程</span>

                <div class="col-50" style="position: relative;" ng-repeat="course in courseList">
                    <a ng-click="isPayStatusCourse(3,0,0,course.courseId,0)">
                        <img src="{{course.imageUrl}}" width="100%" height="20%;">
                    </a>
                </div>
            </div>

        </div>
    </div>
</ion-content>