<ion-header-bar align-title="center" class='home_head'>
    <div class="header_tab">
        <span class="header_tab_change header_tab_left" ng-click="selectLivingRecorded(1)" ng-class="{header_select:selectedLivingRecorded == 1}">直播</span>
        <span class="header_tab_change header_tab_right" ng-click="selectLivingRecorded(2)" ng-class="{header_select:selectedLivingRecorded == 2}">录播</span>
    </div>
    <a class="margin-top10" href="#/tab/home_search"><img src="img/search_black.png" style="width: 20px;height: 20px;"></a>
</ion-header-bar>


<ion-content style="padding: 0 1rem !important;">
    <div id="progress_all_content">

        <!--直播-->
        <div id="progress_content" class="container" ng-if="selectedLivingRecorded == 1">
            <!--直播轮播图-->
            <div class="swiper-container swiper-container-progress">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="living in livingList">
                        <div style="position: relative;" ng-click="toLivingDetail(living.liveId,living.livePrice,living.orderStatus,living.videoName)">
                            <div class="play-icon"></div>
                            <img src="{{living.videoImage}}" style="width:100%;height: 100%;">
                            <span class="myself_active_start myself_active_progress_banner">正在直播</span>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>

            <div class="margin-top10">
                <span class="progerss_text_left"></span>
                <span>近期直播</span>
            </div>
            <!--近期直播-->
            <div class="row margin-top10" style="margin-right:0px;margin-left: 0;float: left;" ng-repeat="live in beforeAndAfterLivingList">
                <div class="col-50">
                    <div style="position: relative;margin-top: 10px;">
                        <a ng-click="notLiving(live.liveStatus,live.liveId,live.livePrice,live.orderStatus)">
                            <div class="play-icon" ng-if="live.liveStatus != 0"></div>
                            <img src="{{live.videoImage}}" style="width:100%;height: 100px;">
                        </a>

                        <span class="myself_active_start" ng-if="live.liveStatus == 0">即将直播</span>
                        <span class="myself_active_end" ng-if="live.liveStatus == 2">已结束</span>
                    </div>
                </div>
                <div class="col-50 margin-left10">
                    <div style="position: relative;margin-top: 15px;">
                        <span>名称：{{live.videoName}}({{live.liveStatus}}{{live.orderStatus}})</span><br>
                        <span class="progress_font10">讲师：{{live.teacherName}}</span>
                        <span class="home_search_price_style">{{live.livePrice}}元</span>
                        <br>
                        <span class="progress_font10">简介：</span><span class="progress_font10 progress_color_silver">{{live.videoIntroduction}}</span><br>
                        <span class="progress_font10">开始时间</span><span class="progress_font10 progress_color_silver">{{live.liveStartTime | date:'yyyy-MM-dd'}}</span><br>
                        <span class="progress_font10 progress_color_silver">{{live.number}}人已报名</span>

                        <span class="progress_font10 progeress_signup_button" ng-if="live.liveStatus == 0 && live.orderStatus == 1">
                        	<!--<a class="progress_color_white" href="#/active_apply">立即报名</a>-->
                        	<a class="progress_color_white" ng-click="upcomingLivingApply(live.liveId,live.videoName,live.livePrice,live.orderStatus)">立即报名</a>
                        </span>
                        <span class="progress_font10 progeress_signup_button" ng-if="live.liveStatus == 0 && live.orderStatus == 3">
                        	<a class="progress_color_white" disabled="true">已报名</a>
                        </span>

                        <span class="progress_font10 progeress_signup_button" ng-if="live.liveStatus == 1 && live.orderStatus == 1">
                        	<a class="progress_color_white" href="">付费观看</a>
                        </span>
                        <span class="progress_font10 progeress_signup_button" ng-if="live.liveStatus == 1 && live.orderStatus == 2">
                        	<a class="progress_color_white" href="">点击观看</a>
                        </span>

                        <a class="progress_color_white" ng-click="lookback(live.liveId,live.livePrice,live.orderStatus)">
                            <span class="progress_font10 progeress_review_button" ng-if="live.liveStatus == 2">回看</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- 录播 -->
        <div id="recorded" ng-if="selectedLivingRecorded == 2">
            <div class="row" style="width: 110%">
                <div class="col-33 progress_record_navigation_all" style="margin-left: -7px;text-align: center;padding-top: 2%;padding-bottom: 2%;">
                    <select ng-model="formData.courseVideoId" ng-options="value.id as value.name for value in courseVideos" ng-change="getCourseVideoId(formData.courseVideoId)"></select>
                </div>

                <div class="col-33 progress_record_navigation_all" style="text-align: center;padding-top: 2%">
                    <span class="recorded-nav-title progress-record-title progress-record-m" ng-click="sortByType($event)">类别</span>
                    <ul class="down-list hide">
                        <li class="down-item" ng-click="getTypeId(1)" ng-class="{active:typeId == 1}">内控</li>
                        <li class="down-item" ng-click="getTypeId(2)" ng-class="{active:typeId == 2}">审计</li>
                        <li class="down-item" ng-click="getTypeId(3)" ng-class="{active:typeId == 3}">财务</li>
                        <li class="down-item" ng-click="getTypeId(4)" ng-class="{active:typeId == 4}">税务</li>
                        <li class="down-item" ng-click="getTypeId(5)" ng-class="{active:typeId == 5}">风控</li>
                    </ul>
                </div>

                <div class="col-33 progress_record_navigation_all" style="text-align: center;padding-top: 2%">
                    <span class="recorded-nav-title progress-record-title progress-record-r" ng-click="sortByPrice($event)">价格</span>
                    <ul class="down-list hide">
                        <li class="down-item" ng-click="getPriceId(1)" ng-class="{active:priceId == 1}">收费</li>
                        <li class="down-item" ng-click="getPriceId(0)" ng-class="{active:priceId == 0}">免费</li>
                    </ul>
                </div>
            </div>

            <div id="progress_recorded_content" style="position: relative">
                <!--背景-->
                <div class="progress_background_color"></div>


                <div class="progress-wrapper">

                    <!--1.课程全部-->
                    <div id="progress_progress" ng-if="formData.courseVideoId == 1">
                        <!--推荐课程-->
                        <div class="container">
                            <div class="margin-top10">
                                <span class="progerss_text_left"></span>
                                <span>推荐课程</span>
                            </div>
                            <div class="row margin-top10 margin-left_-5 clearfix">

                                <h4 ng-if="isRecommendCourseList.length == 0">暂时没有推荐课程</h4>

                                <div class="home_row" ng-repeat="isRecommendCourse in isRecommendCourseList" ng-class="{'margin-left10':$index % 2 == 1}">
                                    <a href="#/recorded_list/{{isRecommendCourse.courseId}}">
                                        <img src="{{isRecommendCourse.imageUrl}}" class="progress_recommend_image"><br>
                                        <div>
                                            <span>{{isRecommendCourse.courseName}}</span>   
                                        </div>
                                        <div class="clearfix">
                                        <span class="progress_font10" style="float: left;">讲师：{{isRecommendCourse.teacherName}}</span> 
                                        <div style="float: right;">
                                            <span style="color: red;" ng-if="isRecommendCourse.price == 0">免费</span>
                                            <span style="color: red;" ng-if="isRecommendCourse.price != 0">{{isRecommendCourse.price}}元</span>
                                        </div>
                                        </div>
                                        <span class="progress_font10 progress_color_silver">共{{isRecommendCourse.courseChapterNumber}}节</span>
                                        <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{isRecommendCourse.looked}}</span>
                                    </a>
                                </div>
                            </div>
                            <div class="progress_all_search_line" style="height: 4px;padding-top: 0px;padding-bottom: 0px;">
                            </div>
                        </div>

                        <div style="width: 100%;height: 20px;background-color: #ccc;"></div>

                        <!--不是推荐的课程-->
                        <div class="margin-top10 clearfix">

                            <div class="home_row" ng-repeat="notRecommendCourse in notRecommendCourseList" ng-class="{'margin-left10':$index % 2 == 1}">
                                <a href="#/recorded_list/{{notRecommendCourse.courseId}}">
                                    <img src="{{notRecommendCourse.imageUrl}}" class="progress_recommend_image"><br>
                                    <div>
                                        <span>{{notRecommendCourse.courseName}}</span>
                                    </div>
                                    <div class="clearfix">
                                        <span class="progress_font10" style="float: left;">讲师：{{notRecommendCourse.teacherName}}</span> 
                                        <div style="float: right;">
                                            <span style="color: red;" ng-if="notRecommendCourse.price == 0">免费</span>
                                            <span style="color: red;" ng-if="notRecommendCourse.price != 0">{{notRecommendCourse.price}}元</span>
                                        </div>
                                    </div>
                                    <span class="progress_font10 progress_color_silver">共{{notRecommendCourse.courseChapterNumber}}节</span>
                                    <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{notRecommendCourse.looked}}</span>
                                </a>
                                <div class="progress_all_search_video_list_line progress_line240" ng-if="index%2 != 0"></div>
                            </div>

                        </div>
                    </div>


                    <!-- 2.视频全部 -->
                    <div id="progress_video" ng-if="formData.courseVideoId == 2">
                        <!--推荐视频-->
                        <div class="container">
                            <div class="margin-top10">
                                <span class="progerss_text_left"></span>
                                <span>推荐视频</span>
                            </div>
                            <div class="row margin-top10 margin-left_-5">

                                <span ng-if="isRecommendVideoList.length == 0">暂时没有推荐视频</span>

                                <div class="col-50" ng-repeat="(index,isRecommendVideo) in isRecommendVideoList" ng-class="{'margin-left10':index%2 == 1}">
                                    <a href="#/recorded_detail/{{isRecommendVideo.videoId}}">
                                        <img src="{{isRecommendVideo.imageUrl}}" class="progress_recommend_image">
                                        <div>
                                            <span>视频名：{{isRecommendVideo.courseName}}</span>
                                        </div>
                                        <div class="clearfix">
                                            <span class="progress_font10" style="float: left;">讲师：{{isRecommendVideo.teacherName}}</span>
                                            <div style="float: right;">
                                                <span style="color: red;" ng-if="isRecommendVideo.price == 0">免费</span>
                                                <span style="color: red;" ng-if="isRecommendVideo.price != 0">{{isRecommendVideo.price}}元</span>
                                            </div>
                                        </div>
                                        <span class="progress_font10 progress_color_silver">共{{isRecommendVideo.courseChapterNumber}}节</span>
                                        <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{isRecommendVideo.looked}}</span>
                                    </a>
                                </div>
                            </div>
                            <div class="progress_all_search_line" style="height: 4px;padding-top: 0px;padding-bottom: 0px;">
                            </div>
                        </div>

                        <div style="width: 100%;height: 20px;background-color: #ccc;"></div>

                        <!--不是推荐的视频-->
                        <div class="margin-top10">
                            <div ng-repeat="notRecommendVideo in notRecommendVideoList">
                                <div class="home_row">
                                    <a href="#/recorded_detail/{{notRecommendVideo.videoId}}">
                                        <img src="{{notRecommendVideo.icon}}" class="progress_recommend_image">
                                        <div>
                                            <span>视频名：{{notRecommendVideo.videoName}}</span>
                                        </div>

                                        <div>
                                           <span class="progress_font10">讲师：{{notRecommendVideo.teacherName}}</span> 
                                        </div>
                                        <div>
                                            <span>简介：{{notRecommendVideo.videoDescription}}</span>
                                        </div>
                                        <div class="clearfix">
                                            <span class="progress_font10 progress_color_silver progress_span_right" style="float: left;"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{notRecommendVideo.looked}}</span>
                                            <div style="float: right;">
                                                <span style="color: red;" ng-if="notRecommendVideo.videoPrice == 0">免费</span>
                                                <span style="color: red;" ng-if="notRecommendVideo.videoPrice != 0">{{notRecommendVideo.videoPrice}}元</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="progress_all_search_video_list_line progress_line240" ng-if="index%2 != 0"></div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- 3.类别 -->
                    <div id="progress_type" style="display: none;">
                        <!-- 类别筛选课程开始 -->
                        <div ng-if="formData.courseVideoId == 1">
                            <!--推荐课程-->
                            <div class="container">
                                <div class="margin-top10">
                                    <span class="progerss_text_left"></span>
                                    <span>推荐课程（类别筛选课程）</span>
                                </div>
                                <div class="row margin-top10 margin-left_-5">

                                    <span ng-if="isRecommendCourseFilterByTypeList.length == 0">暂时没有推荐课程（类别筛选课程）</span>

                                    <div class="col-50" ng-repeat="(index,isRecommendCourseFilterByTypeItem) in isRecommendCourseFilterByTypeList" ng-class="{'margin-left10':index%2 == 1}">
                                        <a href="#/recorded_list/{{isRecommendCourseFilterByTypeItem.courseId}}">
                                            <img src="{{isRecommendCourseFilterByTypeItem.imageUrl}}" class="progress_recommend_image">
                                            <div>
                                                <span>{{isRecommendCourseFilterByTypeItem.courseName}}</span>   
                                            </div>
                                            <div class="clearfix">
                                            <span class="progress_font10" style="float: left;">讲师：{{isRecommendCourseFilterByTypeItem.teacherName}}</span> 
                                            <div style="float: right;">
                                                <span style="color: red;" ng-if="isRecommendCourseFilterByTypeItem.price == 0">免费</span>
                                                <span style="color: red;" ng-if="isRecommendCourseFilterByTypeItem.price != 0">{{isRecommendCourseFilterByTypeItem.price}}元</span>
                                            </div>
                                            </div>
                                            <span class="progress_font10 progress_color_silver">共{{isRecommendCourseFilterByTypeItem.courseChapterNumber}}节</span>
                                            <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{isRecommendCourseFilterByTypeItem.looked}}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="progress_all_search_line" style="height: 4px;padding-top: 0px;padding-bottom: 0px;">
                                </div>
                            </div>

                            <div style="width: 100%;height: 20px;background-color: #ccc;"></div>

                            <!--不是推荐的课程-->
                            <div class="margin-top10">

                                <span ng-if="notRecommendCourseFilterByTypeList.length == 0">暂时没有课程（类别筛选课程）</span>

                                <div ng-repeat="notRecommendCourseFilterByTypeItem in notRecommendCourseFilterByTypeList">
                                    <div class="home_row">
                                        <a href="#/recorded_list/{{notRecommendCourseFilterByTypeItem.courseId}}">
                                            <img src="{{notRecommendCourseFilterByTypeItem.imageUrl}}" class="progress_recommend_image"><br>
                                            <div>
                                                <span>{{notRecommendCourseFilterByTypeItem.courseName}}</span>
                                            </div>
                                            <div class="clearfix">
                                               <span class="progress_font10" style="float: left;">讲师：{{notRecommendCourseFilterByTypeItem.teacherName}}</span> 
                                               <div style="float: right;">
                                                   <span style="color: red;" ng-if="notRecommendCourseFilterByTypeItem.price == 0">免费</span>
                                                   <span style="color: red;" ng-if="notRecommendCourseFilterByTypeItem.price != 0">{{notRecommendCourseFilterByTypeItem.price}}元</span>
                                               </div>
                                            </div>
                                            <span class="progress_font10 progress_color_silver">共{{notRecommendCourseFilterByTypeItem.courseChapterNumber}}节</span>
                                            <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{notRecommendCourseFilterByTypeItem.looked}}</span>
                                        </a>
                                        <div class="progress_all_search_video_list_line progress_line240" ng-if="index%2 != 0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 类别筛选课程结束 -->


                        <!-- 类别筛选视频开始 -->
                        <div ng-if="formData.courseVideoId == 2">
                            <!--推荐视频-->
                            <div class="container">
                                <div class="margin-top10">
                                    <span class="progerss_text_left"></span>
                                    <span>推荐视频（类别筛选视频）</span>
                                </div>
                                <div class="row margin-top10 margin-left_-5">

                                    <span ng-if="isRecommendVideoList.length == 0">暂时没有推荐视频（类别筛选视频）</span>

                                    <div class="col-50" ng-repeat="(index,isRecommendVideo) in isRecommendVideoList" ng-class="{'margin-left10':index%2 == 1}">

                                        <img src="{{isRecommendVideo.imageUrl}}" class="progress_recommend_image">
                                        <div>
                                            <span>{{isRecommendVideo.courseName}}</span>
                                        </div>
                                        <div class="clearfix">
                                            <span class="progress_font10" style="float: left;">讲师：{{isRecommendVideo.teacherName}}</span>
                                            <div style="float: right;">
                                                <span style="color: red;" ng-if="isRecommendVideo.price == 0">免费</span>
                                                <span style="color: red;" ng-if="isRecommendVideo.price != 0">{{isRecommendVideo.price}}元</span>
                                            </div>
                                        </div>
                                        <span class="progress_font10 progress_color_silver">共{{isRecommendVideo.courseChapterNumber}}节</span>
                                        <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{isRecommendVideo.looked}}</span>
                                    </div>
                                </div>
                                <div class="progress_all_search_line" style="height: 4px;padding-top: 0px;padding-bottom: 0px;">
                                </div>
                            </div>

                            <div style="width: 100%;height: 20px;background-color: #ccc;"></div>

                            <!--不是推荐的视频-->
                            <div class="margin-top10">

                                <span ng-if="isRecommendVideoList.length == 0">暂时没有视频（类别筛选视频）</span>

                                <div ng-repeat="notRecommendVideo in notRecommendVideoList">
                                    <div class="home_row">
                                        <a href="#/recorded_list">
                                            <img src="{{notRecommendVideo.icon}}" class="progress_recommend_image">
                                            <div>
                                                <span>{{notRecommendVideo.videoName}}</span>
                                            </div>

                                            <div>
                                               <span class="progress_font10">讲师：{{notRecommendVideo.teacherName}}</span> 
                                            </div>
                                            <div>
                                                <span>简介：{{notRecommendVideo.videoDescription}}</span>
                                            </div>
                                            <div class="clearfix">
                                                <span class="progress_font10 progress_color_silver progress_span_right" style="float: left;"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{notRecommendVideo.looked}}</span>
                                                <div style="float: right;">
                                                    <span style="color: red;" ng-if="notRecommendVideo.videoPrice == 0">免费</span>
                                                    <span style="color: red;" ng-if="notRecommendVideo.videoPrice != 0">{{notRecommendVideo.videoPrice}}元</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="progress_all_search_video_list_line progress_line240" ng-if="index%2 != 0"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- 类别筛选视频结束 -->
                    </div>


                    <!-- 4.价格 -->
                    <div id="progress_price" style="display: none;">
                        <!-- 价格筛选课程开始 -->
                        <div ng-if="formData.courseVideoId == 1">
                            <!--推荐课程-->
                            <div class="container">
                                <div class="margin-top10">
                                    <span class="progerss_text_left"></span>
                                    <span>推荐课程（价格筛选课程）</span>
                                </div>
                                <div class="row margin-top10 margin-left_-5">

                                    <span ng-if="isRecommendCourseFilterByPriceList.length == 0">暂时没有推荐课程（价格筛选课程）</span>

                                    <div class="col-50" ng-repeat="(index,isRecommendCourseFilterByPriceItem) in isRecommendCourseFilterByPriceList" ng-class="{'margin-left10':index%2 == 1}">
                                        <a href="#/recorded_list/{{isRecommendCourseFilterByPriceItem.courseId}}">
                                            <img src="{{isRecommendCourseFilterByPriceItem.imageUrl}}" class="progress_recommend_image">
                                            <div>
                                                <span>{{isRecommendCourseFilterByPriceItem.courseName}}</span>
                                            </div>
                                            <div class="clearfix">
                                                <span class="progress_font10" style="float: left;">讲师：{{isRecommendCourseFilterByPriceItem.teacherName}}</span>
                                                <div style="float: right;">
                                                    <span style="color: red;" ng-if="isRecommendCourseFilterByPriceItem.price == 0">免费</span>
                                                    <span style="color: red;" ng-if="isRecommendCourseFilterByPriceItem.price != 0">{{isRecommendCourseFilterByPriceItem.price}}元</span>
                                                </div>
                                            </div>
                                            <span class="progress_font10 progress_color_silver">共{{isRecommendCourseFilterByPriceItem.courseChapterNumber}}节</span>
                                            <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{isRecommendCourseFilterByPriceItem.looked}}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="progress_all_search_line" style="height: 4px;padding-top: 0px;padding-bottom: 0px;">
                                </div>
                            </div>

                            <div style="width: 100%;height: 20px;background-color: #ccc;"></div>

                            <!--不是推荐的课程-->
                            <div class="margin-top10">

                                <span ng-if="notRecommendCourseFilterByPriceList.length == 0">暂时没有课程（价格筛选课程）</span>

                                <div ng-repeat="notRecommendCourseFilterByPriceItem in notRecommendCourseFilterByPriceList">
                                    <div class="home_row">
                                        <a href="#/recorded_list/{{notRecommendCourseFilterByPriceItem.courseId}}">
                                            <img src="{{notRecommendCourseFilterByPriceItem.imageUrl}}" class="progress_recommend_image"><br>
                                            <div>
                                                <span>{{notRecommendCourseFilterByPriceItem.courseName}}</span>
                                            </div>
                                            <div class="clearfix">
                                               <span class="progress_font10" style="float: left;">讲师：{{notRecommendCourseFilterByPriceItem.teacherName}}</span> 
                                               <div style="float: right;">
                                                   <span style="color: red;" ng-if="notRecommendCourseFilterByPriceItem.price == 0">免费</span>
                                                   <span style="color: red;" ng-if="notRecommendCourseFilterByPriceItem.price != 0">{{notRecommendCourseFilterByPriceItem.price}}元</span>
                                               </div>
                                            </div>
                                            <span class="progress_font10 progress_color_silver">共{{notRecommendCourseFilterByPriceItem.courseChapterNumber}}节</span>
                                            <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{notRecommendCourseFilterByPriceItem.looked}}</span>
                                        </a>
                                        <div class="progress_all_search_video_list_line progress_line240" ng-if="index%2 != 0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 价格筛选课程结束 -->


                        <!-- 价格筛选视频开始 -->
                        <div ng-if="formData.courseVideoId == 2">
                            <!--推荐视频-->
                            <div class="container">
                                <div class="margin-top10">
                                    <span class="progerss_text_left"></span>
                                    <span>推荐视频（价格筛选视频）</span>
                                </div>
                                <div class="row margin-top10 margin-left_-5">

                                    <span ng-if="isRecommendVideoList.length == 0">暂时没有推荐视频（价格筛选视频）</span>

                                    <div class="col-50" ng-repeat="(index,isRecommendVideo) in isRecommendVideoList" ng-class="{'margin-left10':index%2 == 1}">

                                        <img src="{{isRecommendVideo.imageUrl}}" class="progress_recommend_image">
                                        <div>
                                            <span>{{isRecommendVideo.courseName}}</span>
                                        </div>
                                        <div class="clearfix">
                                            <span class="progress_font10" style="float: left;">讲师：{{isRecommendVideo.teacherName}}</span>
                                            <div style="float: right;">
                                                <span style="color: red;" ng-if="isRecommendVideo.price == 0">免费</span>
                                                <span style="color: red;" ng-if="isRecommendVideo.price != 0">{{isRecommendVideo.price}}元</span>
                                            </div>
                                        </div>
                                        <span class="progress_font10 progress_color_silver">共{{isRecommendVideo.courseChapterNumber}}节</span>
                                        <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{isRecommendVideo.looked}}</span>
                                    </div>
                                </div>
                                <div class="progress_all_search_line" style="height: 4px;padding-top: 0px;padding-bottom: 0px;">
                                </div>
                            </div>

                            <div style="width: 100%;height: 20px;background-color: #ccc;"></div>

                            <!--不是推荐的视频-->
                            <div class="margin-top10">

                                <span ng-if="isRecommendVideoList.length == 0">暂时没有视频（价格筛选视频）</span>

                                <div ng-repeat="notRecommendVideo in notRecommendVideoList">
                                    <div class="home_row">
                                        <a href="#/recorded_list">
                                            <img src="{{notRecommendVideo.icon}}" class="progress_recommend_image">
                                            <div>
                                                <span>{{notRecommendVideo.videoName}}</span>
                                            </div>

                                            <div>
                                               <span class="progress_font10">讲师：{{notRecommendVideo.teacherName}}</span> 
                                            </div>
                                            <div>
                                                <span>简介：{{notRecommendVideo.videoDescription}}</span>
                                            </div>
                                            <div class="clearfix">
                                                <span class="progress_font10 progress_color_silver progress_span_right" style="float: left;"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{notRecommendVideo.looked}}</span>
                                                <div style="float: right;">
                                                    <span style="color: red;" ng-if="notRecommendVideo.videoPrice == 0">免费</span>
                                                    <span style="color: red;" ng-if="notRecommendVideo.videoPrice != 0">{{notRecommendVideo.videoPrice}}元</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="progress_all_search_video_list_line progress_line240" ng-if="index%2 != 0"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- 价格筛选视频结束 -->
                    </div>

                </div>

            </div>

        </div>
    </div>

</ion-content>