<ion-header-bar align-title="center" class='home_head'>
    <div class="header_tab">
        <span class="header_tab_change header_tab_left" ng-click="selectLivingRecorded(1)" ng-class="{header_select:selectedLivingRecorded == 1}">直播</span>
        <span class="header_tab_change header_tab_right" ng-click="selectLivingRecorded(2)" ng-class="{header_select:selectedLivingRecorded == 2}">录播</span>
    </div>
    <a class="margin-top10"  href="#/tab/home_search" ><img src="img/search_black.png" style="width: 20px;height: 20px;" ></a>
</ion-header-bar>


<ion-content style="padding: 0 1rem !important;">
    <div id="progress_all_content">

        <!--直播-->
        <div id="progress_content" class="container" ng-if="selectedLivingRecorded == 1">
            <!--直播轮播图-->
            <div class="swiper-container swiper-container-progress">
            	<div class="swiper-wrapper">
            		<div class="swiper-slide" ng-repeat="living in livingList">
            			<div style="position: relative;">
			                <a href="#/living_detail/{{living.liveId}}">
			                    <div class="play-icon"></div>
			                    <img src="{{living.videoImage}}" style="width:100%;height: 100%;">
			                </a>
			                <span class="myself_active_start myself_active_progress_banner">正在直播</span>
			            </div>
            		</div>
            	</div>
            </div>

            <div class="margin-top10">
                <span class="progerss_text_left"></span>
                <span >近期直播</span>
            </div>
            <!--近期直播-->

            <div class="row margin-top10" style="margin-right:0px;margin-left: 0;float: left;" ng-repeat="live in beforeAndAfterLivingList">
                <div class="col-50" >
                    <div style="position: relative;margin-top: 10px;">
                        <a href="#/living_detail">
                            <div class="play-icon"></div>
                            <img src="{{live.videoImage}}" style="width:100%;height: 100px;">
                        </a>

                        <span class="myself_active_start" ng-if="live.liveStatus == 0">即将直播</span>
                        <span class="myself_active_end" ng-if="live.liveStatus == 2">已结束</span>
                    </div>
                </div>
                <div class="col-50 margin-left10">
                    <div style="position: relative;margin-top: 15px;">
                        <span>名称：{{live.videoName}}</span><br>
                        <span class="progress_font10">讲师：{{live.teacherName}}</span>
                        <!-- <span class="home_search_price_style">{{course.price}}</span> -->
                        <br>
                        <span class="progress_font10">简介：</span><span class="progress_font10 progress_color_silver">{{live.videoIntroduction}}</span><br>
                        <span class="progress_font10">开始时间</span><span class="progress_font10 progress_color_silver">{{live.liveStartTime | date:'yyyy-MM-dd'}}</span><br>
                        <span class="progress_font10 progress_color_silver">{{live.number}}人已报名</span>

                        <span class="progress_font10 progeress_signup_button" ng-if="live.liveStatus == 0 && live.orderStatus == 0">
                        	<a class="progress_color_white" href="#/active_apply">立即报名</a>
                        </span>
                        <span class="progress_font10 progeress_signup_button" ng-if="live.liveStatus == 0 && live.orderStatus == 2">
                        	<a class="progress_color_white" href="">已报名</a>
                        </span>

                        <span class="progress_font10 progeress_signup_button" ng-if="live.liveStatus == 1 && live.orderStatus == 0">
                        	<a class="progress_color_white" href="">付费观看</a>
                        </span>
                        <span class="progress_font10 progeress_signup_button" ng-if="live.liveStatus == 1 && live.orderStatus == 1">
                        	<a class="progress_color_white" href="">点击观看</a>
                        </span>

                        <span class="progress_font10 progeress_review_button" ng-if="live.liveStatus == 2">
                        	<a class="progress_color_white" href="">回看</a>
                        </span>
                    </div>
                </div>
            </div>
            <!--end-->
            <!--近期直播-->
            <!-- <div class=" row margin-top10" style="margin-right:0px;margin-left: 0;">
                <div class="col-50">
                    <div style="position: relative;">
                        <a href="#">
                            <img src="img/play(1).png" style="position:absolute;top:35%;left: 45%;width: 50px;height: 50px;" alt="">
                            <img src="img/1.png" style="width:100%;height: 100px;">
                        </a> -->
                        <!--class="progerss_top_left_style"-->
                       <!--  <span class="myself_active_start">正在直播</span>
                    </div>
                </div> -->
                <!-- <div class="col-50 margin-left10">
                    <span>直播名称</span><br>
                    <span class="progress_font10">讲师 某某某</span>
                    <span class="home_search_price_style">12元</span><br>
                    <span class="progress_font10">简介 </span><span class="progress_font10 progress_color_silver">长春市短发短发时代长春市短发短发时代</span><br>
                    <span class="progress_font10">开始时间</span><span class="progress_font10 progress_color_silver">2017-02-21</span><br>
                    <span class="progress_font10 progress_color_silver">12人已报名</span>
                    <span class="progress_font10 progeress_review_button"><a href="" class="progress_color_white">回顾</a></span>
                </div>
            </div> -->
            <!--end-->
        </div>


        <!-- 录播 -->
        <div id="recorded" ng-if="selectedLivingRecorded == 2">
            <div class="row" style="width: 110%">
                <div class="col-33 progress_record_navigation_all" style="margin-left: -7px;text-align: center;padding-top: 2%;padding-bottom: 2%;">

                    <select ng-model="formData.courseVideoId" ng-options="value.id as value.name for value in courseVideos" ng-change="getCourseVideoId(formData.courseVideoId)"></select>

                </div>
               
                <div class="col-33 progress_record_navigation_all" style="text-align: center;padding-top: 2%">
                   	<a class="recorded-nav-title progress-record-title progress-record-m" href="javascript:;">类别</a>
                    <ul class="down-list hide">
                    	<li class="down-item" ng-click="getTypeId(1)">内控</li>
                    	<li class="down-item" ng-click="getTypeId(2)">审计</li>
                    	<li class="down-item" ng-click="getTypeId(3)">财务</li>
                    	<li class="down-item" ng-click="getTypeId(4)">税务</li>
                    	<li class="down-item" ng-click="getTypeId(5)">风控</li>
                    </ul>
                </div>

                <div class="col-33 progress_record_navigation_all" style="text-align: center;padding-top: 2%">
                   <a class="recorded-nav-title progress-record-title progress-record-r" href="javascript:;">价格</a>
                    <ul class="down-list hide">
                    	<li class="down-item" ng-click="getPriceId(1)">收费</li>
                    	<li class="down-item" ng-click="getPriceId(0)">免费</li>
                    </ul>
                </div>
            </div>

            <div id="progress_recorded_content" style="position: relative">
                <!--背景-->
                <div class="progress_background_color"></div>

                <!--录播全部-->
                <div id="progress_all" style="display: none">
                   <!--  <div class="container">
                        <div class="margin-top10">
                            <span class="progerss_text_left"></span>
                            <span>推荐课程</span>
                        </div> -->
                        <!--推荐课程-->
                       <!--  <div class="row margin-top10 margin-left_-5">
                            <div class="col-50">
                                <a href="#/recorded_detail"><img src="img/1.png" class="progress_recommend_image"></a><br>
                                <span>名称名称名称名称名称名称名</span><br>
                                <span class="progress_font10 ">讲师：某某某</span><br>
                                <span class="progress_font10 progress_color_silver">共12节</span>
                                <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;30</span>
                            </div>
                            <div class="col-50 margin-left10">
                                <a href="#/recorded_detail"><img src="img/1.png" class="progress_recommend_image"></a><br>
                                <span>名称名称名称名称名称名称名</span><br>
                                <span class="progress_font10 ">讲师：某某某</span><br>
                                <span class="progress_font10 progress_color_silver">共12节</span>
                                <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;30</span>
                            </div>
                        </div> -->
                        <!--end-->
                        <!--所有结果-->
                        <!-- <div class="progress_all_search_line" style="height: 4px;padding-top: 0px;padding-bottom: 0px;"> -->
                        <!-- </div> -->
                        <!--end-->
                    <!-- </div> -->
                    <!-- <p><span>所有结果总共123个</span></p> -->
                    <!--所有搜索结果的视频集合-->
                    <div>
                        <div class="margin-top10" >
                            <div  ng-repeat="(index,i) in l">

                                <div class="home_row" style="position: relative;">
                                    <a href="#/recorded_detail">
                                    	<div class="play-icon"></div>
                                        <img src="img/1.png" class="progress_recommend_image"><br>
                                        <span>名称名称名称名称名称名称名</span><br>
                                        <span class="progress_font10 ">讲师：某某某</span>
                                  
                                        <br>
                                        <!-- <span class="progress_font10 progress_color_silver">价格</span><br> -->
                                        <span class="progress_font10 progress_color_silver">时长</span><br>

                                        <span class="progress_font10 progress_color_silver progress_span_right" style="margin-top: -17px;"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;30</span>
                                    </a>
                                    <div class="progress_all_search_video_list_line progress_line240" ng-if="index%2 != 0"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--end-->
                </div>


                <div class="progress-wrapper">

	                <!--1.课程全部-->
	                <div id="progress_progress" ng-if="formData.courseVideoId == 1">
	                    <!--推荐课程-->
                        <div class="container">
                            <div class="margin-top10">
                                <span class="progerss_text_left"></span>
                                <span>推荐课程</span>
                            </div>
                            <div class="row margin-top10 margin-left_-5">

                                <span ng-if="isRecommendCourseList.length == 0">暂时没有推荐课程</span>

                            	<div class="col-50" ng-repeat="(index,isRecommendCourse) in isRecommendCourseList" ng-class="{'margin-left10':index%2 == 1}">
                            		<img src="{{isRecommendCourse.imageUrl}}" class="progress_recommend_image"><br>
	                                <div>
                                        <span>{{isRecommendCourse.courseName}}</span>   
                                    </div>
                                    <div class="clearfix">
	                                   <span class="progress_font10" style="float: left;">讲师：{{isRecommendCourse.teacherName}}</span> 
                                       <div style="float: right;">
                                           <span style="color: red;" ng-if="isRecommendCourse.price == 0">免费</span>
                                           <span style="color: red;" ng-if="isRecommendCourse.price != 0">{{isRecommendCourse.price}}元</span>
                                       </div>
                                    </div>
	                                <span class="progress_font10 progress_color_silver">共{{isRecommendCourse.courseChapterNumber}}节</span>
	                                <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{isRecommendCourse.looked}}</span>
                            	</div>
                            </div>
	                        <div class="progress_all_search_line" style="height: 4px;padding-top: 0px;padding-bottom: 0px;">
	                        </div>
	                    </div>
	            
                        <div style="width: 100%;height: 20px;background-color: #ccc;"></div>

                        <!--不是推荐的课程-->
                        <div class="margin-top10">
                            <div ng-repeat="notRecommendCourse in notRecommendCourseList">
                                <div class="home_row">
                                    <a href="#/recorded_list">
                                        <img src="{{notRecommendCourse.imageUrl}}" class="progress_recommend_image"><br>
                                        <div>
                                            <span>{{notRecommendCourse.courseName}}</span>
                                        </div>
                                        <div class="clearfix">
                                           <span class="progress_font10" style="float: left;">讲师：{{notRecommendCourse.teacherName}}</span> 
                                           <div style="float: right;">
                                               <span style="color: red;" ng-if="notRecommendCourse.price == 0">免费</span>
                                               <span style="color: red;" ng-if="notRecommendCourse.price != 0">{{notRecommendCourse.price}}元</span>
                                           </div>
                                        </div>
                                        <span class="progress_font10 progress_color_silver">共{{notRecommendCourse.courseChapterNumber}}节</span>
                                        <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{notRecommendCourse.looked}}</span>
                                    </a>
                                    <div class="progress_all_search_video_list_line progress_line240" ng-if="index%2 != 0"></div>
                                </div>
                            </div>
                        </div>
	                </div>


                    <!-- 2.视频全部 -->
                    <div id="progress_video" ng-if="formData.courseVideoId == 2">
                        <!--推荐视频-->
                        <div class="container">
                            <div class="margin-top10">
                                <span class="progerss_text_left"></span>
                                <span>推荐视频</span>
                            </div>
                            <div class="row margin-top10 margin-left_-5">

                                <span ng-if="isRecommendVideoList.length == 0">暂时没有推荐视频</span>

                                <div class="col-50" ng-repeat="(index,isRecommendVideo) in isRecommendVideoList" ng-class="{'margin-left10':index%2 == 1}">

                                    <img src="{{isRecommendVideo.imageUrl}}" class="progress_recommend_image">
                                    <div>
                                        <span>{{isRecommendVideo.courseName}}</span>   
                                    </div>
                                    <div class="clearfix">
                                       <span class="progress_font10" style="float: left;">讲师：{{isRecommendVideo.teacherName}}</span> 
                                       <div style="float: right;">
                                           <span style="color: red;" ng-if="isRecommendVideo.price == 0">免费</span>
                                           <span style="color: red;" ng-if="isRecommendVideo.price != 0">{{isRecommendVideo.price}}元</span>
                                       </div>
                                    </div>
                                    <span class="progress_font10 progress_color_silver">共{{isRecommendVideo.courseChapterNumber}}节</span>
                                    <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{isRecommendVideo.looked}}</span>
                                </div>
                            </div>
                            <div class="progress_all_search_line" style="height: 4px;padding-top: 0px;padding-bottom: 0px;">
                            </div>
                        </div>

                         <div style="width: 100%;height: 20px;background-color: #ccc;"></div>

                        <!--不是推荐的视频-->
                        <div class="margin-top10">
                            <div ng-repeat="notRecommendVideo in notRecommendVideoList">
                                <div class="home_row">
                                    <a href="#/recorded_list">
                                        <img src="{{notRecommendVideo.icon}}" class="progress_recommend_image">
                                        <div>
                                            <span>{{notRecommendVideo.videoName}}</span>
                                        </div>

                                        <div>
                                           <span class="progress_font10">讲师：{{notRecommendVideo.teacherName}}</span> 
                                        </div>
                                        <div>
                                            <span>简介：{{notRecommendVideo.videoDescription}}</span>
                                        </div>
                                        <div class="clearfix">
                                            <span class="progress_font10 progress_color_silver progress_span_right" style="float: left;"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{notRecommendVideo.looked}}</span>
                                            <div style="float: right;">
                                                <span style="color: red;" ng-if="notRecommendVideo.videoPrice == 0">免费</span>
                                                <span style="color: red;" ng-if="notRecommendVideo.videoPrice != 0">{{notRecommendVideo.videoPrice}}元</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="progress_all_search_video_list_line progress_line240" ng-if="index%2 != 0"></div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- 3.类别 -->
                    <div id="progress_type" style="display: none;">
                        <!-- 类别筛选课程开始 -->
                        <div ng-if="formData.courseVideoId == 1">
                            <!--推荐课程-->
                            <div class="container">
                                <div class="margin-top10">
                                    <span class="progerss_text_left"></span>
                                    <span>推荐课程（类别筛选课程）</span>
                                </div>
                                <div class="row margin-top10 margin-left_-5">

                                    <span ng-if="isRecommendCourseFilterByTypeList.length == 0">暂时没有推荐课程（类别筛选课程）</span>

                                    <div class="col-50" ng-repeat="(index,isRecommendCourseFilterByTypeItem) in isRecommendCourseFilterByTypeList" ng-class="{'margin-left10':index%2 == 1}">

                                        <img src="{{isRecommendCourseFilterByTypeItem.imageUrl}}" class="progress_recommend_image">
                                        <div>
                                            <span>{{isRecommendCourseFilterByTypeItem.courseName}}</span>   
                                        </div>
                                        <div class="clearfix">
                                           <span class="progress_font10" style="float: left;">讲师：{{isRecommendCourseFilterByTypeItem.teacherName}}</span> 
                                           <div style="float: right;">
                                               <span style="color: red;" ng-if="isRecommendCourseFilterByTypeItem.price == 0">免费</span>
                                               <span style="color: red;" ng-if="isRecommendCourseFilterByTypeItem.price != 0">{{isRecommendCourseFilterByTypeItem.price}}元</span>
                                           </div>
                                        </div>
                                        <span class="progress_font10 progress_color_silver">共{{isRecommendCourseFilterByTypeItem.courseChapterNumber}}节</span>
                                        <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{isRecommendCourseFilterByTypeItem.looked}}</span>
                                    </div>
                                </div>
                                <div class="progress_all_search_line" style="height: 4px;padding-top: 0px;padding-bottom: 0px;">
                                </div>
                            </div>

                            <div style="width: 100%;height: 20px;background-color: #ccc;"></div>

                            <!--不是推荐的课程-->
                            <div class="margin-top10">

                                <span ng-if="notRecommendCourseFilterByTypeList.length == 0">暂时没有课程（类别筛选课程）</span>

                                <div ng-repeat="notRecommendCourseFilterByTypeItem in notRecommendCourseFilterByTypeList">
                                    <div class="home_row">
                                        <a href="#/recorded_list">
                                            <img src="{{notRecommendCourseFilterByTypeItem.imageUrl}}" class="progress_recommend_image"><br>
                                            <div>
                                                <span>{{notRecommendCourseFilterByTypeItem.courseName}}</span>
                                            </div>
                                            <div class="clearfix">
                                               <span class="progress_font10" style="float: left;">讲师：{{notRecommendCourseFilterByTypeItem.teacherName}}</span> 
                                               <div style="float: right;">
                                                   <span style="color: red;" ng-if="notRecommendCourseFilterByTypeItem.price == 0">免费</span>
                                                   <span style="color: red;" ng-if="notRecommendCourseFilterByTypeItem.price != 0">{{notRecommendCourseFilterByTypeItem.price}}元</span>
                                               </div>
                                            </div>
                                            <span class="progress_font10 progress_color_silver">共{{notRecommendCourseFilterByTypeItem.courseChapterNumber}}节</span>
                                            <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{notRecommendCourseFilterByTypeItem.looked}}</span>
                                        </a>
                                        <div class="progress_all_search_video_list_line progress_line240" ng-if="index%2 != 0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 类别筛选课程结束 -->


                        <!-- 类别筛选视频开始 -->
                        <div ng-if="formData.courseVideoId == 2">
                            <!--推荐视频-->
                            <div class="container">
                                <div class="margin-top10">
                                    <span class="progerss_text_left"></span>
                                    <span>推荐视频（类别筛选视频）</span>
                                </div>
                                <div class="row margin-top10 margin-left_-5">

                                    <span ng-if="isRecommendVideoList.length == 0">暂时没有推荐视频（类别筛选视频）</span>

                                    <div class="col-50" ng-repeat="(index,isRecommendVideo) in isRecommendVideoList" ng-class="{'margin-left10':index%2 == 1}">

                                        <img src="{{isRecommendVideo.imageUrl}}" class="progress_recommend_image">
                                        <div>
                                            <span>{{isRecommendVideo.courseName}}</span>   
                                        </div>
                                        <div class="clearfix">
                                           <span class="progress_font10" style="float: left;">讲师：{{isRecommendVideo.teacherName}}</span> 
                                           <div style="float: right;">
                                               <span style="color: red;" ng-if="isRecommendVideo.price == 0">免费</span>
                                               <span style="color: red;" ng-if="isRecommendVideo.price != 0">{{isRecommendVideo.price}}元</span>
                                           </div>
                                        </div>
                                        <span class="progress_font10 progress_color_silver">共{{isRecommendVideo.courseChapterNumber}}节</span>
                                        <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{isRecommendVideo.looked}}</span>
                                    </div>
                                </div>
                                <div class="progress_all_search_line" style="height: 4px;padding-top: 0px;padding-bottom: 0px;">
                                </div>
                            </div>

                            <div style="width: 100%;height: 20px;background-color: #ccc;"></div>

                            <!--不是推荐的视频-->
                            <div class="margin-top10">

                                <span ng-if="isRecommendVideoList.length == 0">暂时没有视频（类别筛选视频）</span>

                                <div ng-repeat="notRecommendVideo in notRecommendVideoList">
                                    <div class="home_row">
                                        <a href="#/recorded_list">
                                            <img src="{{notRecommendVideo.icon}}" class="progress_recommend_image">
                                            <div>
                                                <span>{{notRecommendVideo.videoName}}</span>
                                            </div>

                                            <div>
                                               <span class="progress_font10">讲师：{{notRecommendVideo.teacherName}}</span> 
                                            </div>
                                            <div>
                                                <span>简介：{{notRecommendVideo.videoDescription}}</span>
                                            </div>
                                            <div class="clearfix">
                                                <span class="progress_font10 progress_color_silver progress_span_right" style="float: left;"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{notRecommendVideo.looked}}</span>
                                                <div style="float: right;">
                                                    <span style="color: red;" ng-if="notRecommendVideo.videoPrice == 0">免费</span>
                                                    <span style="color: red;" ng-if="notRecommendVideo.videoPrice != 0">{{notRecommendVideo.videoPrice}}元</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="progress_all_search_video_list_line progress_line240" ng-if="index%2 != 0"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- 类别筛选视频结束 -->
                    </div>


                    <!-- 4.价格 -->
                    <div id="progress_price" style="display: none;">
                        <!-- 价格筛选课程开始 -->
                        <div ng-if="formData.courseVideoId == 1">
                            <!--推荐课程-->
                            <div class="container">
                                <div class="margin-top10">
                                    <span class="progerss_text_left"></span>
                                    <span>推荐课程（价格筛选课程）</span>
                                </div>
                                <div class="row margin-top10 margin-left_-5">

                                    <span ng-if="isRecommendCourseFilterByPriceList.length == 0">暂时没有推荐课程（价格筛选课程）</span>

                                    <div class="col-50" ng-repeat="(index,isRecommendCourseFilterByPriceItem) in isRecommendCourseFilterByPriceList" ng-class="{'margin-left10':index%2 == 1}">

                                        <img src="{{isRecommendCourseFilterByPriceItem.imageUrl}}" class="progress_recommend_image">
                                        <div>
                                            <span>{{isRecommendCourseFilterByPriceItem.courseName}}</span>   
                                        </div>
                                        <div class="clearfix">
                                           <span class="progress_font10" style="float: left;">讲师：{{isRecommendCourseFilterByPriceItem.teacherName}}</span> 
                                           <div style="float: right;">
                                               <span style="color: red;" ng-if="isRecommendCourseFilterByPriceItem.price == 0">免费</span>
                                               <span style="color: red;" ng-if="isRecommendCourseFilterByPriceItem.price != 0">{{isRecommendCourseFilterByPriceItem.price}}元</span>
                                           </div>
                                        </div>
                                        <span class="progress_font10 progress_color_silver">共{{isRecommendCourseFilterByPriceItem.courseChapterNumber}}节</span>
                                        <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{isRecommendCourseFilterByPriceItem.looked}}</span>
                                    </div>
                                </div>
                                <div class="progress_all_search_line" style="height: 4px;padding-top: 0px;padding-bottom: 0px;">
                                </div>
                            </div>

                            <div style="width: 100%;height: 20px;background-color: #ccc;"></div>

                            <!--不是推荐的课程-->
                            <div class="margin-top10">

                                <span ng-if="notRecommendCourseFilterByPriceList.length == 0">暂时没有课程（价格筛选课程）</span>

                                <div ng-repeat="notRecommendCourseFilterByPriceItem in notRecommendCourseFilterByPriceList">
                                    <div class="home_row">
                                        <a href="#/recorded_list">
                                            <img src="{{notRecommendCourseFilterByPriceItem.imageUrl}}" class="progress_recommend_image"><br>
                                            <div>
                                                <span>{{notRecommendCourseFilterByPriceItem.courseName}}</span>
                                            </div>
                                            <div class="clearfix">
                                               <span class="progress_font10" style="float: left;">讲师：{{notRecommendCourseFilterByPriceItem.teacherName}}</span> 
                                               <div style="float: right;">
                                                   <span style="color: red;" ng-if="notRecommendCourseFilterByPriceItem.price == 0">免费</span>
                                                   <span style="color: red;" ng-if="notRecommendCourseFilterByPriceItem.price != 0">{{notRecommendCourseFilterByPriceItem.price}}元</span>
                                               </div>
                                            </div>
                                            <span class="progress_font10 progress_color_silver">共{{notRecommendCourseFilterByPriceItem.courseChapterNumber}}节</span>
                                            <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{notRecommendCourseFilterByPriceItem.looked}}</span>
                                        </a>
                                        <div class="progress_all_search_video_list_line progress_line240" ng-if="index%2 != 0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 价格筛选课程结束 -->


                        <!-- 价格筛选视频开始 -->
                        <div ng-if="formData.courseVideoId == 2">
                            <!--推荐视频-->
                            <div class="container">
                                <div class="margin-top10">
                                    <span class="progerss_text_left"></span>
                                    <span>推荐视频（价格筛选视频）</span>
                                </div>
                                <div class="row margin-top10 margin-left_-5">

                                    <span ng-if="isRecommendVideoList.length == 0">暂时没有推荐视频（价格筛选视频）</span>

                                    <div class="col-50" ng-repeat="(index,isRecommendVideo) in isRecommendVideoList" ng-class="{'margin-left10':index%2 == 1}">

                                        <img src="{{isRecommendVideo.imageUrl}}" class="progress_recommend_image">
                                        <div>
                                            <span>{{isRecommendVideo.courseName}}</span>   
                                        </div>
                                        <div class="clearfix">
                                           <span class="progress_font10" style="float: left;">讲师：{{isRecommendVideo.teacherName}}</span> 
                                           <div style="float: right;">
                                               <span style="color: red;" ng-if="isRecommendVideo.price == 0">免费</span>
                                               <span style="color: red;" ng-if="isRecommendVideo.price != 0">{{isRecommendVideo.price}}元</span>
                                           </div>
                                        </div>
                                        <span class="progress_font10 progress_color_silver">共{{isRecommendVideo.courseChapterNumber}}节</span>
                                        <span class="progress_font10 progress_color_silver progress_span_right"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{isRecommendVideo.looked}}</span>
                                    </div>
                                </div>
                                <div class="progress_all_search_line" style="height: 4px;padding-top: 0px;padding-bottom: 0px;">
                                </div>
                            </div>

                            <div style="width: 100%;height: 20px;background-color: #ccc;"></div>

                            <!--不是推荐的视频-->
                            <div class="margin-top10">

                                <span ng-if="isRecommendVideoList.length == 0">暂时没有视频（价格筛选视频）</span>

                                <div ng-repeat="notRecommendVideo in notRecommendVideoList">
                                    <div class="home_row">
                                        <a href="#/recorded_list">
                                            <img src="{{notRecommendVideo.icon}}" class="progress_recommend_image">
                                            <div>
                                                <span>{{notRecommendVideo.videoName}}</span>
                                            </div>

                                            <div>
                                               <span class="progress_font10">讲师：{{notRecommendVideo.teacherName}}</span> 
                                            </div>
                                            <div>
                                                <span>简介：{{notRecommendVideo.videoDescription}}</span>
                                            </div>
                                            <div class="clearfix">
                                                <span class="progress_font10 progress_color_silver progress_span_right" style="float: left;"><img src="img/eye.png" class="eye-looked">&nbsp;&nbsp;&nbsp;{{notRecommendVideo.looked}}</span>
                                                <div style="float: right;">
                                                    <span style="color: red;" ng-if="notRecommendVideo.videoPrice == 0">免费</span>
                                                    <span style="color: red;" ng-if="notRecommendVideo.videoPrice != 0">{{notRecommendVideo.videoPrice}}元</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="progress_all_search_video_list_line progress_line240" ng-if="index%2 != 0"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- 价格筛选视频结束 -->
                    </div>

	            </div>

            </div>

        </div>
    </div>

</ion-content>